.selected {
/*   border:      4px red solid; */
    background:  #ffaaaa;
}

.expander {
    clear:      both;
}

.folder-link {
    clear:  both;
}

.folder-link:hover {
    background:      #aaaaaa;
}

.folder-link a {
    text-decoration: none;
    text-transform:  uppercase;
    font-family:     helvetica sans;
    display:         block;
}

ul {
    list-style-type:  none;
}

ul.gallery {
    width:     100%;
    overflow:  auto;
}

ul.gallery > li {
    float:   left;
    margin:  5px;
}

ul.gallery > li > a {
    padding: 6px;
    display: block;
}

.folder-list {
    list-style-type:  none;
}

div.featured {
    margin-top:  0.5in;
}

.featured img {
    display:   block;
    margin:    auto;
    padding:   8px;
    border:    4px black solid;
}