/* main three-column layout. */

div#featured {
    margin-top:    0.1in;
    text-align:    center;
    margin-right:  2.3in;
    margin-left:   2.1in;
}

#selection-tree {
    float:        left;
    width:        2.0in;
    white-space:  nowrap;
    overflow:     hidden;
    z-index:      -99;
}

#selection-tree:hover {
    overflow:     visible;
    z-index:      99;
}

#selection-tree li.selected {
    border-left:       3px solid red;
}

#thumbnails {
    width:        2.2in;
    float:        right;
}

#selection-tree a {
    text-decoration:  none;
    color:            black;
    font-family:      geneva, helvetica, sans-serif;
    font-weight:      bold;
    padding:          3px;
    position:         relative;    /* needed for z-index function */
    background-color: white;
}

#thumbnails .selected {
/*   border:      4px red solid; */
    background:  #ffaaaa;
}

.expander {
    clear:      both;
}

.folder-link {
    clear:  both;
}

.folder-link ul.thumbnails {
    display: none;
}

.folder-link h2:hover ~ ul.thumbnails {
    display:  block;
}

.folder-link:hover {
    background:      #aaaaaa;
}

.folder-link a {
    text-decoration: none;
    text-transform:  uppercase;
    font-family:     helvetica sans;
    display:         block;
}

ul {
    list-style-type:  none;
}

ul.gallery {
    width:     100%;
    overflow:  auto;
    margin-left:  0px;
    padding-left: 0px;
}

ul.gallery > li {
    float:   left;
    margin:  5px;
}

ul.gallery > li > a {
    padding: 6px;
    display: block;
}

.folder-list {
    list-style-type:  none;
    line-height:      120%;
    margin-bottom:    1.2in;
}

.folder-list h2 {
    font-family: verdana, sans-serif;
    font-size:   100%;
}

div#featured a {
    padding:     5px;
    font-weight: bold;
    font-size:   6em;
    text-decoration: none;
    vertical-align: top;
}

.featured img {
    padding:   8px;
    border:    4px black solid;
}

div.sidebar {
    float: right;
    width: 2.2in;
}